In [4]:
using DataFrames, CategoricalArrays

In [2]:
time = float.(1:12 )

12-element Array{Float64,1}:
  1.0
  2.0
  3.0
  4.0
  5.0
  6.0
  7.0
  8.0
  9.0
 10.0
 11.0
 12.0

In [5]:
room = categorical(["kitchen", "bathroom", "bedroom_1", "living_room"])

4-element CategoricalArray{String,1,UInt32}:
 "kitchen"
 "bathroom"
 "bedroom_1"
 "living_room"

In [6]:
room = vcat(room, room, room)

12-element CategoricalArray{String,1,UInt32}:
 "kitchen"
 "bathroom"
 "bedroom_1"
 "living_room"
 "kitchen"
 "bathroom"
 "bedroom_1"
 "living_room"
 "kitchen"
 "bathroom"
 "bedroom_1"
 "living_room"

In [7]:
time = [5 5 5 5 6 6 6 6 7 7 7 7]

1×12 Array{Int64,2}:
 5  5  5  5  6  6  6  6  7  7  7  7

In [11]:
time =reshape(time, (12,))

12-element Array{Int64,1}:
 5
 5
 5
 5
 6
 6
 6
 6
 7
 7
 7
 7

In [12]:
X = DataFrame(time=time, room=room)

12×2 DataFrame
│ Row │ time  │ room        │
│     │ Int64 │ Cat…        │
├─────┼───────┼─────────────┤
│ 1   │ 5     │ kitchen     │
│ 2   │ 5     │ bathroom    │
│ 3   │ 5     │ bedroom_1   │
│ 4   │ 5     │ living_room │
│ 5   │ 6     │ kitchen     │
│ 6   │ 6     │ bathroom    │
│ 7   │ 6     │ bedroom_1   │
│ 8   │ 6     │ living_room │
│ 9   │ 7     │ kitchen     │
│ 10  │ 7     │ bathroom    │
│ 11  │ 7     │ bedroom_1   │
│ 12  │ 7     │ living_room │

In [13]:
using MLJ

┌ Info: Precompiling MLJ [add582a8-e3ab-11e8-2d5e-e98b27df1bc7]
└ @ Base loading.jl:1260
[ Info: Model metadata loaded from registry.

In [31]:
println()
println()
MLJ.MLJBase.PrettyTables.pretty_table(X)

┌───────┬─────────────────────────────────┐
│  time │                            room │
│ Int64 │ CategoricalValue{String,UInt32} │
├───────┼─────────────────────────────────┤
│     5 │                         kitchen │
│     5 │                        bathroom │
│     5 │                       bedroom_1 │
│     5 │                     living_room │
│     6 │                         kitchen │
│     6 │                        bathroom │
│     6 │                       bedroom_1 │
│     6 │                     living_room │
│     7 │                         kitchen │
│     7 │                        bathroom │
│     7 │                       bedroom_1 │
│     7 │                     living_room │
└───────┴─────────────────────────────────┘

In [15]:
pretty(y)

UndefVarError: UndefVarError: y not defined

In [16]:
temp = 16 .+ 5*rand(12)

12-element Array{Float64,1}:
 18.490955359526012
 18.304060288673128
 18.25954037947709
 17.419481829632957
 16.589235329028348
 20.66317138311018
 18.945861996750985
 20.158722013970333
 20.361567584624957
 19.85771377870428
 16.180836445944205
 17.330000922162835

In [19]:
temperature = map(temp) do x round(x, sigdigits=3) end

12-element Array{Float64,1}:
 18.5
 18.3
 18.3
 17.4
 16.6
 20.7
 18.9
 20.2
 20.4
 19.9
 16.2
 17.3

In [20]:
y = DataFrame(y)

UndefVarError: UndefVarError: y not defined

In [23]:
y=DataFrame(temperature=temperature)

12×1 DataFrame
│ Row │ temperature │
│     │ Float64     │
├─────┼─────────────┤
│ 1   │ 18.5        │
│ 2   │ 18.3        │
│ 3   │ 18.3        │
│ 4   │ 17.4        │
│ 5   │ 16.6        │
│ 6   │ 20.7        │
│ 7   │ 18.9        │
│ 8   │ 20.2        │
│ 9   │ 20.4        │
│ 10  │ 19.9        │
│ 11  │ 16.2        │
│ 12  │ 17.3        │

In [32]:
println()
println()
MLJ.MLJBase.PrettyTables.pretty_table(y)

┌─────────────┐
│ temperature │
│     Float64 │
├─────────────┤
│        18.5 │
│        18.3 │
│        18.3 │
│        17.4 │
│        16.6 │
│        20.7 │
│        18.9 │
│        20.2 │
│        20.4 │
│        19.9 │
│        16.2 │
│        17.3 │
└─────────────┘

In [25]:
y

12×1 DataFrame
│ Row │ temperature │
│     │ Float64     │
├─────┼─────────────┤
│ 1   │ 18.5        │
│ 2   │ 18.3        │
│ 3   │ 18.3        │
│ 4   │ 17.4        │
│ 5   │ 16.6        │
│ 6   │ 20.7        │
│ 7   │ 18.9        │
│ 8   │ 20.2        │
│ 9   │ 20.4        │
│ 10  │ 19.9        │
│ 11  │ 16.2        │
│ 12  │ 17.3        │